.calc-wrapper {
    background-color: #E97777;
    width: 550px;
    border-radius: 15px;
    padding: 20px;
}

.bg-calfinance {
    margin-top: 20px;
    background-color: rgb(71, 134, 67);
    border-radius: 15px;
    padding: 30px;
}